# pylint: disable=too-few-public-methods

class Config:
    # MongoDB Parameters
    DB_HOST = "localhost:27017"
    DB_USER = "root"
    DB_PASSWORD = "abc123"
    DB_NAME = "judge"

    # Google OAuth Parameters
    GOOGLE_CLIENT_ID = r""
    GOOGLE_CLIENT_SECRET = r""
    GOOGLE_DISCOVERY_URL = r""

    # JWT Secret
    JWT_SECRET = r""

    # Flask
    LOG_PATH = None # None -> stdout
    LOGGING_LEVEL = "info"
    DEBUG = False

class DevelopmentConfig(Config):
    LOG_PATH = None # None -> stdout
    LOGGING_LEVEL = "debug"
    DEBUG = True
