services:
  mongodb:
    image: "mongo:latest"
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: abc123
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
  redis:
    image: "redis:latest"
    container_name: redis_server
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    restart: always
